<%- include('partials/header.ejs') %>
<link href="/css/addgame.css" rel="stylesheet" type="text/css">

<head>
  <title>Add Game</title>
</head>
<body>
  <h1>Add a New Game</h1>


  <form action="/add-game" method="post">
    <label for="gameName">Game Name:</label>
    <input type="text" id="gameName" name="gameName" required>

    <button type="submit">Add Game</button>
  </form>
</body>
</html>

<%- include('partials/footer.ejs') %>
